body {
  
  background-color:rgb(169, 237, 239) ;
  color: #f4efef;
}

.App {
  text-align: center;
}

.todo{
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-style: bold; */
  font-weight: 100;
  font-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.no{
  color: black;
  margin-top: 10%;
}

.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span .delete{
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #ff1100;
}

.taskBg .iconsWrap span :hover {
  color: rgb(238, 16, 16);
}

.mr-20 {
  margin-right: 20px;
}
